<div id="main-wrapper">
  <div id="main" class="container">
   
        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Some words about me</h2>
          </header>
           <div class="row">
           <div  class="5u">
            <span class="image featured"><img src="./images/me.jpg" alt="" width=20/></span>
           </div>
          <div  class="5u">
          <p>Hi this is me. I promise to write more about myself someday. This blog is not for beginners and you will not find detailed instructions how to cook here. Mostly I write notes here to remember how I did the recipe.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
