<div id="main-wrapper">
  <div id="main" class="container">
   
        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Some words about me</h2>
          </header>
           <div class="row">
           <div  class="6u">
            <span class="image featured"><img src="./images/me.jpg" alt="" width=20/></span>
           </div>
          <div  class="6u">
            <p>Hi this is me. I promise to write more about myself someday... </p>
            <p><em>Shortly,</em> I love to cook and to eat :) For more than 10 years I'm cooking at home. It slightly became my hobby. I love everything about cooking: books, tv shows, master classes - you name it.</p>
            <p>This blog is not for beginners and you will not find detailed instructions how to cook here. Mostly I write notes for myself to remember how I did the recipe and to share my favourite food ideas with my friends. </p>
            <p>And this particular version of the blog is <em>special</em> because I developed it from the scratch (I mean I wrote a code too, not only recipes).</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
