<!-- Footer -->
    <div id="footer-wrapper">
      <div id="footer" class="container">
        
        <header>
          <h2>Questions or comments? <strong>Get in touch:</strong></h2>
        </header>
            
            <div class="row">
              <div class="3u">
                <ul class="icons">
                  <li class="icon fa-envelope"><a href="mailto:fiodorova.jelena@gmail.com?Subject=Lena's cooking blog" target="_top">Write an email</a></li>
                </ul>
              </div>   
              <div class="3u">
                <ul class="icons">
                  <li class="icon fa-instagram" target="_blank"><a href="http://www.instagram.com/jfiodorova">@jfiodorova</a></li>
                </ul>
              </div>
              <div class="3u">
                <ul class="icons">
                  <li class="icon fa-facebook-official"><a href="http://www.facebook.com/jelena.fiodorova" target="_blank">Jelena Barinova</a></li>
                </ul>
              </div>
              <div class="3u">
                <ul class="icons">
                  <li class="icon fa-pinterest-p"><a href="http://www.pinterest.com/jfiodorova/lenas-cooking-notes/" target="_blank">Lena's Cooking Notes</a></li>
                </ul>
              </div>
            </div>

      </div>
    </div>
    
    <div id="copyright" class="container">
      <ul class="links">
        <li>&nbsp;&nbsp;&copy; Lena's cooking blog. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>