<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a class="icon fa-cutlery" href="#/recipes"><span>Recipes</span></a>
    </li>
    <li>
      <a href="" class="icon fa-folder-open-o"><span>Categories</span></a>
      <ul>
        <li><a href="#">Breakfast</a>
        </li>
        <li><a href="#">Snacks</a>
        </li>
        <li><a href="#">Long meals</a>
        </li>
        <li><a href="#">Sweets</a>
        </li>
        <li>
          <a href="">18 min meals</a>
          <ul>
            <li><a href="#">Pizza</a>
            </li>
            <li><a href="#">Salad</a>
            </li>
            <li><a href="#">Pasta</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="icon fa-heart-o" href="#/about"><span>About</span></a>
    </li>
  </ul>
</nav>