<!-- Sidebar -->			
<section>
  <ul class="divided">
    <li>

      <!-- Recipe recent -->
      <article class="box excerpt">
        <header>
          <h3><a href="#">Cookies</a></h3>
        </header>
        <a href="#" class="image left"><img src="./images/recipes/5.jpg" alt="" /></a>
        <p>Very fast and healthy recipe.</p>
        <ul class="actions">
          <li><a href="#" class="button icon fa-file">Learn More</a></li>
        </ul>
      </article>

    </li>
    <li>

      <!-- Recipe recent -->
      <article class="box excerpt">
        <header>
          <h3><a href="#">Cookies</a></h3>
        </header>
        <a href="#" class="image left"><img src="./images/recipes/5.jpg" alt="" /></a>
        <p>Very fast and healthy recipe.</p>
        <ul class="actions">
          <li><a href="#" class="button icon fa-file">Learn More</a></li>
        </ul>
      </article>

    </li>
    <li>

      <!-- Recipe recent -->
      <article class="box excerpt">
        <header>
          <h3><a href="#">Cookies</a></h3>
        </header>
        <a href="#" class="image left"><img src="./images/recipes/9.jpg" alt="" /></a>
        <p>Very fast and healthy recipe.</p>
        <ul class="actions">
          <li><a href="#" class="button icon fa-file">Learn More</a></li>
        </ul>
      </article>

    </li>

    <li>

      <!-- Excerpt -->
      <article class="box excerpt">
        <header>
          <span class="date">July 30</span>
          <h3><a href="#">Just another post</a></h3>
        </header>
        <p>Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est 
          suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.</p>
      </article>

    </li>
  </ul>
    
  <ul class="divided">

    <!-- Highlight -->
    <article class="box highlight">
      <header>
        <h3><a href="#">Something of note</a></h3>
      </header>
      <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
      <p>Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam 
      viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis 
      convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus 
      facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p>
      <ul class="actions">
        <li><a href="#" class="button icon fa-file">Learn More</a></li>
      </ul>
    </article>
  </ul>
  
</section>
