<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
       
      <!-- Content -->
      <div id="content" class="8u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2><b>{{recipe.Title}}</b></h2>
          </header>
          <span class="image featured"><img src="{{recipe.ImageURL}}" alt="" width=20/></span>
          <p>{{recipe.Description}} {{recipe.Story}}</p>
        <h3>Ingredients</h3>
          <p>
            <span ng-repeat="ingredient in ingredients">
              <strong>{{ingredient.Quantity}} {{ingredient.Unit}}</strong> <span ng-show="ingredient.Quantity"> of </span>{{ingredient.Name}} <em>{{ingredient.PreparationNotes}}</em>
              <br />
            </span>
          </p>
          <h3>Instructions</h3>
          <p>
              <span ng-repeat="instruction in instructions"><strong>{{instruction.StepID}}</strong>:   {{instruction.Action}} <br /></span>
          </p>
       </article>

      </div>

      <!-- Sidebar -->
      <div id="sidebar" class="4u" jb-sidebar ng-hide="false"/>

    </div>
  </div>
</div>

