<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="9u">

        <!-- Post -->
        <header>
          <h2><b>{{recipe.title}}</b></h2>
        </header>
        <div class="row">
          <div class="6u">
            <aside>
              <span>Posted: <b>{{recipe.creationDate | date:'mediumDate'}}</b></span>
              <span class="right" ng-if="false">Share:
                <a class="link fa fa-facebook" social-facebook></a>
                <a class="link fa fa-pinterest" social-pinterest media="http://lorempixel.com/100/100/nature/1" custom-url="{{pageUrl}}"></a>
                <a class="link fa fa-google-plus" social-gplus custom-url="{{pageUrl}}"></a>
              </span>
            </aside>
            <hr />
            <aside>
              <p>
                <span>{{recipe.description}}</span>
                <br />
                <br />
                <span ng-bind-html="displaySafeHtml(recipe.story)"></span>
              </p>
            </aside>
            <hr />
            <aside>
              <ul class="icons left">
                <li class="icon fa fa-clock-o">
                  <sup>Cooking time</sup>
                  <h6>{{recipe.cookingTime}} minutes</h6>
                </li>
              </ul>
              <ul class="icons right">
                <li class="icon fa fa-male">
                  <sup>Recipe makes</sup>
                  <h6>{{recipe.servings}} Servings</h6>
                </li>
              </ul>
            </aside>
          </div>
          <div class="6u">
            <span class="image featured"><img ng-src="{{recipe.imageURL}}" alt=""/></span>
          </div>
        </div>
        <div class="row">
          <div class="6u">
            <h5>Ingredients</h5>
            <p>
              <span ng-repeat="ingredient in ingredients">
                <strong>{{ingredient.quantity | amount}} {{ingredient.unit}}</strong> <span ng-show="ingredient.quantity"> <span ng-show="ingredient.unit">of</span> </span>{{ingredient.name}} <em>{{ingredient.preparationNotes}}</em>
              <br />
              </span>
            </p>
          </div>
          <div class="6u">
            <h5>Instructions</h5>
            <p>
              <span ng-repeat="instruction in instructions"><strong>{{$index + 1}}</strong>:   {{instruction}} <br /></span>
            </p>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar" class="3u" jb-sidebar ng-if="false" />

    </div>
  </div>
</div>