<!-- Recipes -->
<div id="features-wrapper">
  <section id="features" class="container">
    <header>
      <h2>These are my recent <strong>healthy, easy and delicious</strong> recipes!</h2>
    </header>
    <div class="row">
      <div class="4u" ng-repeat="recipe in recipes| filter: {category: byCategory}">

        <!-- Recipe -->
        <section>
          <a href="{{recipe.recipeURL}}" class="image featured"><img ng-src="{{recipe.imageURL}}" alt="" />
          </a>
          <header>
            <h5><a href="{{recipe.recipeURL}}">{{recipe.title}}</a></h5>
          </header>
          <p>{{recipe.description}}</p>
        </section>
      </div>
    </div>

    <ul class="actions" ng-hide="true">
      <li><a href="#" class="button">1</a> <a href="#" class="button">2</a> <a href="#" class="button">&lt;&lt;</a>
      </li>
    </ul>
  </section>
</div>