<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="9u">

        <!-- Post -->
        <header>
          <h2><b>{{recipe.title}}</b></h2>
        </header>



        <!--
        <div class="image featured" style="width:50%; float:right;">
          <img ng-src="{{recipe.imageURL}}" alt=""/>
        </div>
        <div>
          <h3>Ingredients</h3>
          <ul ng-repeat="ingredient in ingredients">
            <li>
              <span>{{ingredient.quantity}} {{ingredient.unit}}</span>
              <span ng-show="ingredient.quantity">of</span> {{ingredient.name}}
              <span>{{ingredient.preparationNotes}}</span>
            </li>
          </ul>
        </div>
        <div>
          <h3>Instructions</h3>
          <ul ng-repeat="instruction in instructions">
            <li>
              <span>{{instruction.StepID}}</span>: {{instruction.Action}}
            </li>
          </ul>
        </div>
      </div>
      -->
        <div class="row">
          <div class="6u">
            <p>{{recipe.description}}</p>
            <p> {{recipe.story}}</p>
            <h3>Ingredients</h3>
            <p>
              <span ng-repeat="ingredient in ingredients">
                <strong>{{ingredient.quantity | amount}} {{ingredient.unit}}</strong> <span ng-show="ingredient.quantity"> <span ng-show="ingredient.unit">of</span> </span>{{ingredient.name}} <em>{{ingredient.preparationNotes}}</em>
              <br />
              </span>
            </p>
          </div>
          <div class="6u">
            <span class="image featured"><img ng-src="{{recipe.imageURL}}" alt=""/></span>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <h3>Instructions</h3>
            <p>
              <span ng-repeat="instruction in instructions"><strong>{{$index + 1}}</strong>:   {{instruction}} <br /></span>
            </p>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar" class="3u" jb-sidebar ng-hide="true" />

    </div>
  </div>
</div>